<div>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-full mr-2"
    (click)="setGraphType('candle')"
    [ngClass]="{ 'bg-blue-700': activeType === 'candle' }"
  >
    <img
      src="assets/icons/candle-chart-filled.svg"
      style="height: 15px; width: 15px"
      alt=""
    />
  </button>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-full"
    [ngClass]="{ 'bg-blue-700': activeType === 'line' }"
    (click)="setGraphType('line')"
  >
    <img
      src="assets/icons/line-chart-1.svg"
      style="height: 15px; width: 15px"
      alt=""
    />
  </button>
</div>
