<div class="relative flex flex-col justify-center items-center">
  <div *ngIf="tiker$ | async as tiker" class="mt-10">
    <app-stock-title [tiker]="tiker"></app-stock-title>
  </div>

  <div *ngIf="loading$ | async; else stockPage">
    <app-page-overlay>
      <app-loading></app-loading>
    </app-page-overlay>
  </div>
</div>

<ng-template #stockPage>
  <div *ngIf="profile$ | async as profile">
    <p class="text-5xl text-gray-500">{{ profile.name }}</p>
  </div>
  <div *ngIf="candles$ | async as candles" class="w-7/12">
    <app-line-candle-chart [data]="candles"></app-line-candle-chart>
  </div>
</ng-template>
