<div class="flex flex-col justify-center items-center select-none">
  <div *ngIf="tiker$ | async as tiker" class="mt-10">
    <app-stock-title [tiker]="tiker"></app-stock-title>
  </div>

  <div
    *ngIf="notLoading$ | async; else loading"
    class="flex flex-col justify-center items-center select-none"
  >
    <div *ngIf="profile$ | async as profile">
      <p class="text-5xl text-gray-500">{{ profile.name }}</p>
    </div>
    <div *ngIf="stats$ | async as stats" class="mt-4">
      <app-stats
        [stats]="stats"
        (selectedStat)="onSelectStat($event)"
      ></app-stats>
    </div>

    <div class="mt-4">
      <app-card>
        <div *ngIf="selectedStat === 'marketCap'">
          <div *ngIf="stockDaylyData$ | async as stockDaylyData">
            <app-line-candle-chart
              [data]="stockDaylyData.marketCap"
              [size]="[1200, 400]"
              title="market cap"
              [bigNumbers]="true"
              [currency]="currency$ | async"
            ></app-line-candle-chart>
          </div>
        </div>
        <div *ngIf="selectedStat === 'EV'">
          <div *ngIf="stockDaylyData$ | async as stockDaylyData">
            <app-line-candle-chart
              [data]="stockDaylyData.EV"
              [size]="[1200, 400]"
              title="enterprise value"
              [bigNumbers]="true"
              [currency]="currency$ | async"
            ></app-line-candle-chart>
          </div>
        </div>
        <div *ngIf="selectedStat === 'price'">
          <div *ngIf="candles$ | async as candles">
            <app-line-candle-chart
              [data]="candles"
              [size]="[1200, 400]"
              title="price"
              [currency]="currency$ | async"
            ></app-line-candle-chart>
          </div>
        </div>
        <div *ngIf="selectedStat === 'PE'">
          <div *ngIf="stockDaylyData$ | async as stockDaylyData">
            <app-line-candle-chart
              [data]="stockDaylyData.PE"
              [size]="[1200, 400]"
              title="price earning"
            ></app-line-candle-chart>
          </div>
        </div>
        <div *ngIf="selectedStat === 'PS'">
          <div *ngIf="stockDaylyData$ | async as stockDaylyData">
            <app-line-candle-chart
              [data]="stockDaylyData.PS"
              [size]="[1200, 400]"
              title="price to sales"
            ></app-line-candle-chart>
          </div>
        </div>
        <div *ngIf="selectedStat === 'PB'">
          <div *ngIf="stockDaylyData$ | async as stockDaylyData">
            <app-line-candle-chart
              [data]="stockDaylyData.PB"
              [size]="[1200, 400]"
              title="price to book"
            ></app-line-candle-chart>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-page-overlay>
    <app-loading></app-loading>
  </app-page-overlay>
</ng-template>
