<div class="flex flex-col justify-center items-center select-none">
  <div *ngIf="tiker$ | async as tiker" class="mt-10">
    <app-stock-title [tiker]="tiker"></app-stock-title>
  </div>

  <div *ngIf="loading$ | async; else stockPage">
    <app-page-overlay>
      <app-loading></app-loading>
    </app-page-overlay>
  </div>
</div>

<ng-template #stockPage>
  <div *ngIf="profile$ | async as profile">
    <p class="text-5xl text-gray-500">{{ profile.name }}</p>
    <!-- {{ marketCap$ | async }} -->
  </div>
  <div class="mt-4">
    <app-card>
      <div *ngIf="candles$ | async as candles">
        <app-line-candle-chart
          [data]="candles"
          [size]="[1200, 400]"
        ></app-line-candle-chart>
      </div>
    </app-card>
  </div>
</ng-template>
