.header {
  height: 8rem;
  border-bottom: 2px solid var(--color-primary-dark-1);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;

  &__hamburger {
    margin-left: 1rem;
    cursor: pointer;
  }
}
