<form [formGroup]="searchForm" class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <!-- <mat-label>Number</mat-label> -->
    <input
      type="text"
      placeholder="Search Stocks"
      aria-label="stock"
      matInput
      formControlName="stock"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of queryResults$ | async"
        [value]="option.symbol"
      >
        <p style="margin-left: 1rem">
          <b> {{ option.symbol }} </b>
          {{ option.description | capitalize: "all" }}
          {{ option.type }}
        </p>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
