<div class="stock-search" on-focus="testFocus()">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search">
    <input
      #searchInput
      formControlName="stock"
      type="text"
      class="search__input"
      placeholder="Search stocks"
      (focus)="onInputFocus(true)"
      (blur)="onInputFocus(false)"
    />

    <div *ngIf="queryResults$ | async as results" style="width: 100%">
      <select
        formControlName="results"
        class="results results__scrollbar-fix"
        size="5"
        id="query_results"
        (keydown.enter)="onSubmit()"
        (focus)="onSelectFocus(true)"
        (blur)="onSelectFocus(false)"
      >
        <option
          *ngFor="let result of results; let i = index"
          [ngValue]="result.symbol"
          class="results__item"
          (click)="onSubmit()"
          [id]="'query_results_' + i"
        >
          <b> {{ result.symbol }} </b>
          <div style="margin-left: 1rem">
            {{ result.description | capitalize: "all" }}
          </div>
          <div style="margin-left: 1rem; font-size: 2rem">
            {{ result.type }}
          </div>
        </option>
      </select>
    </div>
  </form>
</div>
