<div class="stock-search">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search">
    <input
      formControlName="stock"
      type="text"
      class="search__input"
      placeholder="Search stocks"
    />
  </form>

  <div *ngIf="queryResults$ | async as results" class="results">
    <div class="results__scrollbar-fix">
      <div *ngFor="let result of results" class="results__item">
        <b> {{ result.symbol }} </b>
        <div style="margin-left: 1rem">
          {{ result.description | capitalize: "all" }}
        </div>
        <div style="margin-left: 1rem; font-size: 2rem">
          {{ result.type }}
        </div>
      </div>
    </div>
  </div>
</div>
