<app-chart-title
  [title]="title"
  [value]="lastValue"
  [bigNumbers]="bigNumbers"
  [currency]="currency"
>
</app-chart-title>
<div *ngIf="graphType === 'candle'" class="pl-8 pr-8 pb-4 border-b-2">
  <app-candle-chart
    [data]="getCandles()"
    [size]="size"
    [id]="title + 'candles'"
    [bigNumbers]="bigNumbers"
  >
    <app-chart-type-selector
      (setGraphType)="setGraphType($event)"
      [activeType]="graphType"
    ></app-chart-type-selector>
  </app-candle-chart>
</div>
<div *ngIf="graphType === 'line'" class="pl-8 pr-8 pb-4">
  <app-line-chart
    [data]="getPoints()"
    [size]="size"
    [id]="title + 'line'"
    [bigNumbers]="bigNumbers"
  >
    <app-chart-type-selector
      (setGraphType)="setGraphType($event)"
      [activeType]="graphType"
    ></app-chart-type-selector>
  </app-line-chart>
</div>
