<div class="relative">
  <div *ngIf="graphType === 'candle'">
    <app-candle-chart
      [data]="getCandles()"
      [period]="period"
    ></app-candle-chart>
  </div>
  <div *ngIf="graphType === 'line'">
    <app-line-chart [data]="getPoints()" [period]="period"></app-line-chart>
  </div>
  <app-period-selector
    (periodChange)="onSetPeriod($event)"
  ></app-period-selector>
  <div class="absolute mt-[490px] ml-[1400px]">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-full mr-2"
      [ngClass]="{ 'bg-blue-700': graphType === 'candle' }"
      (click)="setGraphType('candle')"
    >
      <img
        src="assets/icons/candle-chart-filled.svg"
        style="height: 15px; width: 15px"
        alt=""
      />
    </button>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-4 rounded-full"
      [ngClass]="{ 'bg-blue-700': graphType === 'line' }"
      (click)="setGraphType('line')"
    >
      <img
        src="assets/icons/line-chart-1.svg"
        style="height: 15px; width: 15px"
        alt=""
        [ngClass]="{ 'bg-blue-700': period === '1w' }"
      />
    </button>
  </div>
</div>
