// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mouser";
  src: local("Mouser"), url(./assets/fonts/mouser.otf) format("truetype");
}

@font-face {
  font-family: "Qbicle";
  src: local("Qbicle"), url(./assets/fonts/qbicle.ttf) format("truetype");
}

@font-face {
  font-family: "Simplifica";
  src: local("Simplifica"),
    url(./assets/fonts/simplifica.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/roboto.ttf) format("truetype");
}

:root {
  --color-primary: #29a0b1;
  --color-primary-dark-1: #167d7f;
  --color-primary-dark-2: #136d6e;
  --color-primary-light-1: #98d7c2;
  --color-primary-light-2: #ddffe7;

  --color-grey-0: #000;
  --color-grey-1: #333;
  --color-grey-2: #777;
  --color-grey-3: #999;
  --color-grey-4: #ccc;
  --color-grey-5: #eee;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-2);
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Simplifica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 1.6rem;
}
