/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mouser";
  src: local("Mouser"), url(./assets/fonts/mouser.otf) format("truetype");
}

@font-face {
  font-family: "Qbicle";
  src: local("Qbicle"), url(./assets/fonts/qbicle.ttf) format("truetype");
}

@font-face {
  font-family: "Simplifica";
  src: local("Simplifica"),
    url(./assets/fonts/simplifica.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/roboto.ttf) format("truetype");
}

:root {
  --color-primary: #29a0b1;
  --color-primary-dark-1: #167d7f;
  --color-primary-dark-2: #136d6e;
  --color-primary-light-1: #98d7c2;
  --color-primary-light-2: #ddffe7;

  --color-grey-0: #000;
  --color-grey-1: #333;
  --color-grey-2: #777;
  --color-grey-3: #999;
  --color-grey-4: #ccc;
  --color-grey-5: #eee;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Simplifica", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  font-size: 1.6rem;
}
